{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  
{% endblock %}

{% block content %}
  
{% endblock %}

{% block dropdown %}
    <a class="dropdown-item" href="{{url_for('index')}}">Register</a>
{% endblock %}






{% block main %}

<div class="container">
    <div class="row">
      <div class="col">
        <h1>Login</h1>
        <hr>

        <div class="mb-3">

          <div class="form-group">
            <label for="username"></label>
            <input placeholder="username" class="form-control" type="text" name="username">
          </div>
  
          <div class="form-group">
            <label for="email"></label>
            <input id="email" placeholder="email" class="form-control" type="text" name="email">
          </div>
  
          <div class="form-group">
            <label for="password"></label>
            <input placeholder="password" class="form-control" type="password" name="password">
          </div>
    
            <button onclick="getUsers()" style="margin-top:1.3em;" class="btn btn-primary" id="submit">Login</button>
        </div>
  
       
      </div>
    </div>
</div>


{% endblock %}
